# .gitignore
# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Python distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# SQLite database
*.db
backend/database/*.db
backend/database/*.csv
backend/database/*.npz
backend/database/*.json
backend/database/images/*.jpg
backend/database/images/*.png

# Logs
*.log
import.log
backend/logs/*.log
crawler/logs/*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment files
.env
.env.*

# Node modules
node_modules/

# Frontend build
frontend/dist/
frontend/.vite/

# data
data/

# Production
frontend/build/
fly.toml

# Scratch
cursor_plans.MD